<footer class="row text-center">
  <div class="container">
    <h1 class="col-md-10 col-md-offset-1">Ipsos can help you come up with your own Winning Play. To get a deep dive on the results and to schedule your own game planning session, contact our coaches today: <a href="mailto:madtech@ipsos.com">madtech@ipsos.com</a></h1>
  </div>
  <img class="icon-logo" src="{{ site.baseurl }}/assets/svg/icon.svg">
  <p><small>© 2016 Ipsos</small></p>
</footer>
{% if site.github %}
<script src="{{ site.baseurl }}/dist/js/main.min.js"></script>
{% else %}
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
{% endif %}
