* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #00aeff;
  font-size: 1.6rem; }

img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

footer {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: #ffd700;
  color: #2b3990;
  text-align: center; }
  footer h1, footer h2, footer h3,
  footer h4, footer h5, footer h6 {
    color: inherit; }
  footer svg {
    padding-top: 4rem;
    padding-bottom: 0;
    width: 4rem; }

h1, h2, h3, h4, h5, h6 {
  color: #ffd700;
  font-weight: bold;
  letter-spacing: .2rem;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 4.8rem;
  margin: 2.4rem 0 1.2rem; }

h2 {
  font-size: 3.6rem;
  margin: 1.8rem 0 1.2rem; }

h3 {
  font-size: 2.8rem;
  margin: 1.4rem 0 1.2rem; }

h4 {
  font-size: 1.8rem;
  margin: 1.2rem 0 0.8rem; }

h5 {
  font-size: 1.6rem;
  margin: 1.2rem 0 0.8rem; }

h6 {
  font-size: 1.4rem;
  margin: 0.8rem 0 0.4rem; }

p {
  letter-spacing: .1rem; }

small {
  font-size: 80%; }

header {
  text-align: left;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  position: relative; }
  header .logo {
    display: inline-block;
    width: 32rem; }
  header .title-scene .animation {
    opacity: 0; }

main .stadium-scene .animation,
main .scoreboard-scene .animation,
main .fifty-yard-scene .animation,
main .voice-guy-scene .animation,
main .thirty-yard-scene .animation,
main .ten-yard-scene .animation,
main .end-zone-scene .animation {
  display: block; }
main .end-zone-scene {
  background-color: #2bb673;
  background-image: -webkit-linear-gradient(45deg, #30cb80 25%, transparent 25%, transparent 75%, #30cb80 75%, #30cb80), -webkit-linear-gradient(45deg, #30cb80 25%, transparent 25%, transparent 75%, #30cb80 75%, #30cb80);
  background-image: linear-gradient(45deg, #30cb80 25%, transparent 25%, transparent 75%, #30cb80 75%, #30cb80), linear-gradient(45deg, #30cb80 25%, transparent 25%, transparent 75%, #30cb80 75%, #30cb80);
  background-size: 16rem 16rem;
  background-position: 0 0, 8rem 8rem; }
main .field {
  background-color: #2bb673;
  margin-top: -35%;
  overflow: hidden; }
  main .field object {
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  main .field .yard-line {
    border-top: 2rem solid #fff;
    border-bottom: 0;
    margin: 0;
    color: #fff;
    font-family: 'Ultra', serif;
    letter-spacing: 1rem;
    font-size: 10rem;
    clear: both; }
    main .field .yard-line::before {
      float: right;
      content: '';
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      height: 20rem;
      -webkit-writing-mode: vertical-lr;
          -ms-writing-mode: tb-lr;
              writing-mode: vertical-lr;
      clear: both; }
  main .field .fifty::before {
    content: '50'; }
  main .field .thirty::before {
    content: '30'; }
  main .field .ten::before {
    content: '10'; }
  main .field .zero::before {
    content: '0'; }
  main .field .hash-line {
    border-top: 0 solid transparent;
    border-bottom: 0;
    margin: 0;
    padding: 0;
    clear: both; }
    main .field .hash-line.first::before {
      float: left;
      display: block;
      content: '';
      width: 1.5rem;
      border-top: 2rem solid #fff;
      height: 20rem;
      border-bottom: 2rem solid #fff;
      margin-bottom: 20rem;
      box-sizing: content-box;
      clear: both; }
    main .field .hash-line.first::after {
      float: left;
      display: block;
      content: '';
      width: 1.5rem;
      border-top: 2rem solid #fff;
      height: 20rem;
      border-bottom: 2rem solid #fff;
      box-sizing: content-box;
      clear: both; }
    main .field .hash-line.second::before {
      float: left;
      display: block;
      content: '';
      width: 1.5rem;
      border-top: 2rem solid #fff;
      margin-bottom: 20rem;
      box-sizing: content-box;
      clear: both; }
    main .field .hash-line.second::after {
      float: left;
      display: block;
      content: '';
      width: 1.5rem;
      border-top: 2rem solid #fff;
      margin-bottom: 20rem;
      box-sizing: content-box;
      clear: both; }



/*# sourceMappingURL=app.css.map */
