// Variables
$blue:   #00aeff;
$green:  #2bb673;
$yellow: #ffd700;
$white:  #fff;
$purple: #2b3990;

// Imports
@import 'base';
@import 'type';

header {
  text-align: left;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  position: relative;

  .logo {
    display: inline-block;
    width: 32rem;
  }
}

main {

  .title-scene,
  .stadium-scene,
  .scoreboard-scene,
  .fifty-yard-scene,
  .voice-guy-scene,
  .thirty-yard-scene,
  .ten-yard-scene,
  .end-zone-scene {

    .animation {
      display: block;
    }
  }

  .voice-guy-scene,
  .brain-guy-scene,
  .heart-guy-scene {
    margin-bottom: -5rem;
  }

  .end-zone-scene {
    background-color: $green;
    background-image: linear-gradient(45deg, lighten($green, 5%) 25%, transparent 25%, transparent 75%, lighten($green, 5%) 75%, lighten($green, 5%)),
                      linear-gradient(45deg, lighten($green, 5%) 25%, transparent 25%, transparent 75%, lighten($green, 5%) 75%, lighten($green, 5%));
    background-size: 16rem 16rem;
    background-position: 0 0, 8rem 8rem;
  }

  .field {
    background-color: $green;
    margin-top: -35%;

    .yard-line {
      border-top: 2rem solid $white;
      border-bottom: 0;
      margin: 0;
      color: $white;
      font-family: 'Ultra', serif;
      letter-spacing: 1rem;
      font-size: 10rem;
      clear: both;

      &::before {
        float: right;
        content: '';
        transform: rotate(180deg);
        height: 20rem;
        writing-mode: vertical-lr;
        clear: both;
      }
    }

    .fifty::before {
      content: '50';
    }

    .thirty::before {
      content: '30';
    }

    .ten::before {
      content: '10';
    }

    .zero::before {
      content: '0';
    }

    .hash-line {
      border-top: 0 solid transparent;
      border-bottom: 0;
      margin: 0;
      padding: 0;
      clear: both;

      &::before {
        float: left;
        display: block;
        content: '';
        width: 1.5rem;
        border-top: 2rem solid $white;
        height: 20rem;
        border-bottom: 2rem solid $white;
        margin-bottom: 20rem;
        box-sizing: content-box;
        clear: both;
      }

      &::after {
        float: left;
        display: block;
        content: '';
        width: 1.5rem;
        border-top: 2rem solid $white;
        height: 20rem;
        border-bottom: 2rem solid $white;
        margin-bottom: 20rem;
        box-sizing: content-box;
        clear: both;
      }
    }
  }
}
