// Variables
$blue:   #00aeff;
$green:  #2bb673;
$yellow: #ffd700;
$white:  #fff;
$purple: #2b3990;

// Imports
@import 'base';
@import 'type';

header {
  background-color: $blue;
  text-align: left;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  position: relative;
  z-index: -1;

  .logo {
    display: inline-block;
    width: 36rem;
    margin: 0 4rem;
  }

  .intro-scene {
    padding-bottom: 96.6rem;
  }

}

main {

  .stadium-scene {
    margin-top: -9.66rem;
  }

  .scoreboard-scene {
    margin-bottom: 3.66rem;
  }

  .thirty-yard-scene,
  .ten-yard-scene {
    position: absolute;
    bottom: 0;
  }

  .end-zone-scene {
    background-image: linear-gradient(45deg, lighten($green, 5%) 25%, transparent 25%, transparent 75%, lighten($green, 5%) 75%, lighten($green, 5%)),
    linear-gradient(45deg, lighten($green, 5%) 25%, transparent 25%, transparent 75%, lighten($green, 5%) 75%, lighten($green, 5%));
    background-size: 16rem 16rem;
    background-position: 0 0, 8rem 8rem;
  }

  .field {
    background-color: $green;
    margin-top: -35%;
    overflow: hidden;

    .yard-line {
      position: relative;
      border-top: 2rem solid $white;
      border-bottom: 0;
      margin: 0;
      color: $white;
      font-family: 'Ultra', serif;
      letter-spacing: 1rem;
      font-size: 10rem;
      clear: both;

      &::before {
        position: absolute;
        right: 0;
        content: '';
        transform: rotate(180deg);
        text-align: center;
        writing-mode: vertical-lr;
      }
    }

    .fifty::before {
      content: '50';
    }

    .thirty::before {
      content: '30';
    }

    .ten::before {
      content: '10';
    }

    .zero::before {
      content: '0';
    }

    .hash-line {
      position: relative;
      height: 1940px;
      height: 250vh;
      width: 100%;
      width: 100vw;
      border-top: 0;
      border-bottom: 0;
      clear: both;

      &::before {
        float: left;
        display: block;
        content: '';
        width: 1.5rem;
        margin-top: (1940px / 5);
        margin-top: (250vh / 5);
        border-top: 2rem solid $white;
        height: (1940px / 5);
        height: (250vh / 5);
        border-bottom: 2rem solid $white;
        margin-bottom: (1940px / 5);
        margin-bottom: (250vh / 5);
        clear: both;
      }

      &::after {
        float: left;
        display: block;
        content: '';
        width: 1.5rem;
        border-top: 2rem solid $white;
        height: (1940px / 5);
        height: (250vh / 5);
        border-bottom: 2rem solid $white;
        margin-bottom: (1940px / 5);
        margin-bottom: (250vh / 5);
        box-sizing: content-box;
        clear: both;
      }
    }
  }
}
