// Typography
//
// Headings, body text, lists, and other misc typographic elements.

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $yellow;
  font-weight: bold;
  letter-spacing: .2rem;
  text-rendering: optimizeLegibility;
}

h1 { font-size: 4.8rem; margin: 2.4rem 0 1.2rem; }
h2 { font-size: 3.6rem; margin: 1.8rem 0 1.2rem; }
h3 { font-size: 2.8rem; margin: 1.4rem 0 1.2rem; }
h4 { font-size: 1.8rem; margin: 1.2rem 0 0.8rem; }
h5 { font-size: 1.6rem; margin: 1.2rem 0 0.8rem; }
h6 { font-size: 1.4rem; margin: 0.8rem 0 0.4rem; }

p {
  letter-spacing: .1rem;
}

small {
  font-size: 80%;
}
